<form action="/capsules" method="post">
  <textarea id="editor1" name="editor1" rows="10" cols="10"></textarea>

  <button type="submit" id="editor1" method="post">
    Send Through Time
  </button>
</form>

