body { 
  padding-top: 70px;
  font-family: 'Lora', serif;
  background: url('http://i.imgur.com/0iujfE0.jpg') no-repeat right top;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: #ECECEC;
}

.claira {
  opacity: 1;
}

.low_opacity {
  opacity: 0;
}

.claira_button {
  position: absolute;
  cursor: pointer;
  top: 35px;
  margin-left: -85px;
  /*padding: 5px;*/
  text-decoration: none;
  /*border-radius: 50%;*/
  background-color: rgba(225,225,225,0);
  border: transparent;
  }

.btn-sm, .btn-group-sm>.btn {
  padding: 4px 10px;
  margin-left: 3px;
  font-size: 12px;
  line-height: 1.4;
  border-radius: 2px;
}

.btn-default {
  font-family: 'Lora', serif;
  color: #99CCFF;
  background-color: rgba(225,225,225,0.2);
  border-color: transparent;
}

/* main-wrapper holds the main content of the app */

.main-wrapper {
  margin: auto;
  background-color: rgba(42,42,42,0.5);
  border-radius: 15px;
  width: 60%;
  padding: 1em;
}

.main-wrapper p {
  color: rgba(225,225,225,1);
}

.btn-schedule {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
  display: inline-block;
  padding: 6px 12px;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* Navbar styling */

.position-brand {
  position: absolute;
  top: 2px;
  left: 6px;
}

.nav-transparent {
  background-color: rgba(42,42,42,0.2);
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #99CCFF;
  font-family: 'Lora', serif;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
  color: #75FFD1;
}

.navbar-default {
  border-color: transparent;
}

.container-fluid>.navbar-collapse {
margin-right: 10px;
}

input.transparent-input{
   background-color:rgba(0,0,0,.1) !important;
   border:none !important;
}

.form-group .form-control {
  color: #ccc;
}

/* Footer styling */
.footer-transparent {
  background-color: rgba(42,42,42,0);
}

/* User profile */

.spacer {
    margin-top: 50px;
}

.pending-capsules {
  width: 20px;
  background-color: rgba(42,42,42,0.5);
  border-radius: 50%;
  border-color: #ccc;
}