

<div class="row">
  <div class="col-md-6">
    <p>Hello Andy</p>
    <p>transient.tran@gmail.com</p>
    <p><a href="/">update account information</a></p>
  </div>
  <div class="col-md-6">
    <p>Capsules awaiting launch: <div class="pending-capsules">5</div></p>
  </div>
</div>

<div class="row spacer">
  <% @capsules.each do |capsule| %>
    <div class="col-md-4">
      <%= capsule.letter %>
      <%= capsule.created_on %>
    </div>
  <% end %>
</div>