<div class="row">
  <div class="col-md-6">
    <p>Hello Andy</p>
    <p>transient.tran@gmail.com</p>
    <p><a href="/">update account information</a></p>
  </div>
  <div class="col-md-6">
    <p>Capsules awaiting launch:</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
  <p> This is where the capsules would go. </p>
 </div>

   <div class="col-md-4">
  <p> This is where the capsules would go. </p>
 </div>

   <div class="col-md-4">
  <p> This is where the capsules would go. </p>
 </div>

   <div class="col-md-4">
  <p> This is where the capsules would go. </p>
 </div>

   <div class="col-md-4">
  <p> This is where the capsules would go. </p>
 </div>

   <div class="col-md-4">
  <p> This is where the capsules would go. </p>
 </div>

   <div class="col-md-4">
  <p> This is where the capsules would go. </p>
 </div>

   <div class="col-md-4">
  <p> This is where the capsules would go. </p>
 </div>


</div>