
<% if @user && @user.errors.any? %>
  <div>
    <strong>Some issues with your message, please fix them:</strong>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<div class="cols right">
  <label>Username</label><br>
  <label>Email</label><br>
  <label>Password</label><br>
  </div>
<div class="cols left">

<form action="/users" method="post">

  <div>
    <input 
      type="text" 
      name="name" 
      value="<%= @user && @user.name %>"/>
  </div>
  <div>
    <input 
      type="text" 
      name="email" 
      value="<%= @user && @user.email %>"/>
  </div>
  <div>
    <input 
      type="password" 
      name="password"
      placeholder="*******"
      value="<%= @user && @user.password %>"/>
  </div>
  <div>
    <input type="submit"/>
  </div>

  <input name="invisble" style="display:none;">

</form>