<nav class="navbar navbar-default navbar-fixed-bottom footer-transparent" role="footer">
  <div class="container-fluid">
    <p class="navbar-text navbar-left">Claira</p>
    <p class="navbar-text navbar-right">Contact Us</p>
  </div>
</nav>


