<div class="container-fluid">

<p style="text-align: center">Hello, my name is Claira. How are you?</p>

<img class="img-responsive img-circle" src="http://laughingsquid.com/wp-content/uploads/2013/06/20130612-14221553-belle.jpg" />

<img class="img-responsive img-circle" src="http://laughingsquid.com/wp-content/uploads/2013/06/20130612-14221553-cinderella.jpg" />

<img class="img-responsive img-circle" src="http://laughingsquid.com/wp-content/uploads/2013/06/20130612-14221553-ariel.jpg" />
