<% if current_user %>
<div class="container-fluid">

<p class="top-message" style="text-align: center"><%= @message %></p>

<form action="/capsules" method="post">
  <textarea id="editor1" name="editor1" rows="10" cols="10">Today is the tomorrow you worried about yesterday.</textarea>

  <button type="submit" class="btn-schedule pull-right btn-sm" id="editor1" method="post">
    Send Through Time
  </button>
  <div class="calendar pull-right"><p>Launch date: <input type="text" id="datepicker" size="9"></p></div>
</form>

<% else %>
  <div class="landing-page">
    <p>Today is the tomorrow you worried about yesterday.</p>
  </div>
<% end %>