<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!--
    application.css is where you put your styles
  -->


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/application.css">


  
  <!-- Library -->

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//cdn.ckeditor.com/4.4.5/standard/ckeditor.js"></script>
  <script src="/javascripts/application.js"></script>

  <title></title>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= erb :nav %>
    </div>
  </div>

  <div class="row spacer">
    <div class="col-md-12">

      <div class="main-wrapper"> 
        <%= yield %>
      </div>
        <button id='super_button' class="claira_button" style="border-radius: 0%; color: 666;">...
        </button>
        <script>
          $(document).ready(function(){
            $(function() {
    $('#super_button').each(function() {
    $(this).attr('target', '_blank')
}).click(function(e) {
    top.location = 'http://localhost:3000';
});
        // var url = "http://localhost:3000";
        // $('<iframe />', {
        //     name: 'frame',
        //     id:   'claira_iframe',
        //     src: window.open = url
        // }).appendTo('body');    
    // });
    return false;
    });
    
});
        </script>
        
        <!-- <div id="claira_window" 
          class="modal fade bs-example-modal-lg" 
          tabindex="-1" role="dialog" 
          aria-labelledby="myLargeModalLabel" 
          aria-hidden="true"> -->
          <iframe 
          id = "claira_iframe"
          class = "claira"
          name= "frame"
          top.location.src="http://localhost:3000" 
          frameborder="0">
          </iframe>
<!--         </div> -->

          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              ...
            </div>
          </div>

      </form>
    </div>
  </div>
  </div>


  <footer id="bottombar">
    <%= erb :footer %>
  </footer>
</div>

</body>
</html>
