<nav class="navbar navbar-default navbar-fixed-top nav-transparent" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img class="position-brand" src="http://i.imgur.com/qwggblQ.png" /></a> 
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">About</a></li>

      <% if current_user %>
      <li><a href="#">Profile</a></li>
      <% end %>

      <% unless current_user %>
      <li class="dropdown">
       <a href="#" class="dropdown-toggle" data-toggle="dropdown">Create account</a>
        <ul class="dropdown-menu" role="menu">
          <li><form action="/user_session/new" method="post">
          <div class="form-group">
            <input type="text" name="email" class="form-control" placeholder="email">
            <input type="password" name="password" class="form-control" placeholder="password">
            <button type="submit" class="btn btn-default">create</button>
          </div>
          </form></li>
        </ul>
      </li>

      <li><a href="#">Log out</a></li>

      <form action="/user_session" method="post" class="navbar-form navbar-right" role="login">
      <div class="form-group">
      <input type="text" class="form-control input-sm login_form transparent-input" name="email" placeholder="email">
       <input type="password" class="form-control input-sm login_form transparent-input" name="password" placeholder="password">
      </div>
      <button type="submit" class="btn btn-default btn-sm">Log in</button>
      </form>
      <% end %>



    </ul>
    </div>

  </div>
</nav>